@use "/src/styles/variables" as *;

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;

  > a {
    text-decoration: none;
    color: inherit;

    h1 {
      font-size: 2rem;
      margin: 0;
      letter-spacing: 1px;
    }
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0.75rem;

      &:not(:first-child) {
        margin-left: 1.5rem;
      }
    }
  }
}

.nav-link {
  position: relative;
  color: $color-text-primary;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5rem 0;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: all 300ms ease-in-out;

  &:hover:not(.active-link) {
    text-decoration-color: rgba(255, 255, 255, 1);
  }
}

.active-link {
  color: $color-text-secondary;
  text-decoration: underline 0.15em $color-text-secondary;
}
